/* animation start  */

.single-content {
  background-color: #8880ff;
  height: 240px;
  padding: 20px;
  color: #fff;
  font-size: 24px;
  text-transform: capitalize;
  border-radius: 6px;
}

/* animation end  */
